* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-decoration: none;
}

.container{
    max-width: 95%;
    margin: auto;
}

body {
    font-family: Arial, sans-serif;
}

@media only screen and (min-width: 1024px) {
    .container{
        display: flex;
        justify-content: space-between;
    }

    .mf-drawer{
        padding-top: 10px;
        min-width: 20%;
    }

    main{
        min-width: 80%;
    }
}